VIEWS_MEASURE="https://metrics.operas-eu.org/jstor/chapter-views/v1"
DOWNLOADS_MEASURE="https://metrics.operas-eu.org/jstor/chapter-downloads/v1"
DATADIR=/data
OUTDIR=/usr/src/app/output
CACHEDIR=/usr/src/app/cache
URI_API_ENDP=https://identifier.translation.service/translate
AUTH_API_ENDP=https://authentication.service/tokens
URI_API_USER=admin_user@openbookpublishers.com
URI_API_PASS=some_secret_password
URI_SCHEME=info:doi
URI_STRICT=true
